@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,325;1,325&display=swap');

.work-sans{
    font-family: "Work Sans", serif;
    /* font-optical-sizing: auto;
    font-weight: 325;
    font-style: normal; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    border: none;
}

body{
    width: 100%;
    margin: 0 auto;
    background-image: url(assets/bg.png);
    
}

            /* nav-start */

header, main, footer{
    width: 1440px;
    margin: auto;

}
.nav{
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px 140px;

}
.menubar{
    display: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111111;
}
.logo h2{
    font-size: 32px;
    font-weight: 900;
}

.nav ul {
    display: flex;
    align-content: center;
    justify-content: center;

    
}
.nav ul a{
    margin-right: 32px;
    font-size: 20px;
    font-weight: 500;
}
.home{
    color: #FEA301 ;

}
.about{
    color: #01ACFD ;
}
.facilities{
    color: #05D4DF ;
}
.admission{
    color: #5D58EF ;
}

.btn button a{
    background-color: #FEA301;
    border-radius: 12px;
    padding: 20px 60px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;

}
.btn button a:hover{
    background-color: #ffdd00;
    color: #FFFFFF;
    transition:  0.3s ; 


}

/* hero-section  */

.Empowering{
    color: #FEA301;
}
.towards-vision{
    color: #01ACFD;
}
.hero{


    height: 575px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
}
.hero .content{
    width: 640px;
    height: 331px;
    margin-top: 120px;
    
}
.content p, .content-btn{
    padding: 24px 0;
}
.hero .content h1{
    font-size: 56px;
    font-weight: 900;
    color: #111111;
}
.hero p{
    font-size: 20px;
    font-weight: 400;
    color: #111111;
}
.hero button {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 47px;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 12px;
}
.hero a{
    color: #FFFFFF;
}
.hero button:hover {
    background-color: #FEA301;
    color: #111111;
    transition:  0.3s ; 
}

/* main-section-start */

.section-1{
    width: 100%;
    max-width: 1440px;
    height: 879px;
    margin: auto;
    text-align: center;

}
.section-1 h1{
    margin: 60px 490px;
    font-size: 46px;
    font-weight: bold;
}
.curriculum-card{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 197px;
    gap: 28px;
}
.card-1{
    width: 368px;
    height: 476px;
    border-radius: 19px;
    box-shadow: 40px;


}
.card-2{
    width: 368px;
    height: 476px;
    border-radius: 19px;


}
.card-3{
    width: 368px;
    height: 476px;
    border-radius: 19px;


}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.card-content img{
    width: 137px;
    height: 137px;
    margin: 52px 115px 32px;
    
}
.card-content h3{
    font-size: 25px;
    font-weight: bold;
    color: #202020;
}
.card-content p{
    font-size: 16px;
    font-weight: 500;
    color: #808080;
    margin: 33px;
}
.card-1  button{
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: none;

}
.card-1 button a{
    text-decoration: none;
    color: #64C8FF;

}
.card-2  button{
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: none;

}
.card-2 button a{
    text-decoration: none;
    color: #F0AA00;

}.card-3  button{
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: none;

}
.card-3 button a{
    text-decoration: none;
    color: #8700FF;

}
.card-1{
    background: linear-gradient(180deg, rgba(230, 244, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.card-2{
    background: linear-gradient(180deg, rgba(255, 248, 230, 1) 0%, rgba(255, 255, 255, 1) 100%);

}
.card-3{
    background: linear-gradient(180deg, rgba(248, 240, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);

}
.arrow-icon{
    margin: 80px auto 60px;
    font-size: 25px;

}
.arrow-icon i{
    background-color: #FEA301;
    border-radius: 50%;
    padding: 18px;
    color: #FFFFFF;
}

.card-1, .card-2, .card-3 {

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



/* Our-Stories-section-2 */



.section-2{
    width: 100%;
    max-width: 1440px;
    height: 1018px;
    margin: auto;
    background: linear-gradient(to top, #fdf4e9, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2 h1{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    margin-top: 170px;
    color: #000000;
}

.story-box{
    width: 1160px;
    height: 630px;
    display: flex;
    margin: 190px 140px;
    gap: 20px;
}

.story-box-2{
    display: grid;
    grid-template-columns: repeat(2, 290px);
    grid-template-rows: repeat(2, 302px );
    gap: 20px;


}
.story-2, .story-3, .story-4, .story-5{
    background-color: #ffffff;
    border-radius: 16px;
}

.section-2 img{
    border-radius: 16px 16px 0 0 ;
    

}

.story-box-1{
    width: 540px;
    height: 630px;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.story-1 p{
    margin: 50px 45px ;
    font-size: 16px;
    font-weight: 400;
}
.story-1 h3{
    margin: 50px 45px ;
    font-size: 24px;
    font-weight: 900;
}
.story-1 .story-content{
    margin-top: -15px;
}


  
.date {
    margin:36px;
    padding: 15px 20px;
    background: #00c4cc;
    color: #fff;
    border-radius: 48px;
    font-size: 0.9rem;
    font-weight: bold;
  }


.story-box-2 h3{
    font-size: 16px;
    font-weight: 900;
    margin: 36px 35px;
    color: #000000;
}
.story-box-2 .story-content{
    margin-top: -15px;
}

.story-2 .date{
    background-color: #95B226;
}
.story-3 .date{
    background-color: #5D58F0;

    
}
.story-4 .date{
    background-color: #36ec7c;

    
}
.story-5 .date{
    background-color: #eb3f47;

    
}
.section-2 button {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 61px;
    background-color: #111111;
    border-radius: 12px;
    margin: -170px -70px;
}

.section-2 button a {
    text-decoration: none;
    color: #FFFFFF;
}

.section-2 button:hover {
    background-color: #ffdd00;
}




/* Responsive  */



@media screen and (max-width: 576px) {
    header, main, footer{
        width: 100%;
        margin: auto;
        border: 1px solid black;
    
    }
    
    .logo h2{
        display: none;
    }
    .nav ul{
        display: none;

    }
    .nav .btn{
        display: none;

    }
    .menubar{
        display: block;
    }

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 25px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .menubar {

        display: block;
        font-size: 24px
        cursor: pointer;
    }
    .hero {
        flex-direction: column-reverse;
        height: auto;
        padding: 20px;
    }
    .hero .content {
        width: 100%;
        margin-top: 0;
        text-align: center;
    }
    .hero .content h1 {
        font-size: 42px;
    }
    .hero .content p {
        font-size: 18px;
    }
    .hero .content-btn {
        font-size: 18px;
        padding: 10px 30px;
    }
    .hero-image {
        width: 100%;
        margin-top: 20px;
        margin-left: 30px;
    }
    .hero-image img {
        width: 90%;
        margin: 0 auto;
    }




    /* main-section-start */



    /* Standard-Curriculum-section-1 */



    .section-1{
        margin: 70px auto;
    }
    .section-1 h1 {
        font-size: 28px;
        margin: 10px auto;
    }

    .curriculum-card {
        gap: 15px; /* Reduce gap */
        margin-top: 30px;
    }

    .card-content img {
        width: 80px;
        height: 80px;
        margin: 15px auto;
    }

    .card-content h3 {
        font-size: 18px;
    }

    .card-content p {
        font-size: 12px;
        margin: 15px;
    }

    .arrow-icon {
        margin: 20px auto 10px;
        font-size: 16px;
    }

    .arrow-icon i {
        padding: 10px;
    }

    .card-1{
        width: 368px;
        height: 476px;
        border-radius: 19px;
    
    
    }
    .card-2{
        width: 368px;
        height: 476px;
        border-radius: 19px;
    
    
    }
    .card-3{
        width: 368px;
        height: 476px;
        border-radius: 19px;
    
    
    }
    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    
    }
    .card-content img{
        width: 137px;
        height: 137px;
        margin: 52px 115px 32px;
        
    }
    .card-content h3{
        font-size: 25px;
        font-weight: bold;
        color: #202020;
    }
    .card-content p{
        font-size: 16px;
        font-weight: 500;
        color: #808080;
        margin: 33px;
    }
    .card-1  button{
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
        border: none;
    
    }
    .card-1 button a{
        text-decoration: none;
        color: #64C8FF;
    
    }
    .card-2  button{
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
        border: none;
    
    }
    .card-2 button a{
        text-decoration: none;
        color: #F0AA00;
    
    }.card-3  button{
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
        border: none;
    
    }
    .card-3 button a{
        text-decoration: none;
        color: #8700FF;
    
    }
    .arrow-icon{
        display: none;
    }




        /* Our-Stories-section-2 */


    .section-2{
        margin-top: 600px;
    }
    .story-box {
        flex-direction: column;
        width: 100%;
        margin: 20px 0;
        gap: 10px;
    }

    .story-box-1 {
        display: none;
    }

    .story-box-2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 0 20px;
    }

    .story-2, .story-3, .story-4, .story-5 {
        width: 100%;
    }

    .story-box-2 img {
        width: 100%;
        border-radius: 16px 16px 0 0;
    }

    .section-2 {
        padding: 20px;
    }

    .section-2 h1 {
        font-size: 32px;
        margin-top: 20px;
    }

    .section-2 button {
        position: absolute;
        bottom: -3070px;  /* Position it 20px from the bottom */
        font-size: 16px;
        padding: 10px 30px;
    }





}











